            body, html{
                height:100%;
                margin-top:-5px;
                margin:0;
            }
            .bgimg{
                background-image: url("../images/bomberman.jpg");
                height:100%;
                background-position: center;
                background-size:cover;
                position:relative;
                color:white;
                font-family:sans-serif;
                font-size: 25px;
            }
            input[type=text]{
                opacity: 1;
                width:80%;
                padding:12px 2px;
                margin: 8px 0;
                display:inline-block;
                border:1px solid #ccc;
                border-radius: 4px;
                box-sizing:border-box;
            
            }
            input[type=password]{
                opacity: 1;
                width:80%;
                padding:12px 2px;
                margin: 8px 0;
                display:inline-block;
                border:1px solid #ccc;
                border-radius: 4px;
                box-sizing:border-box;
            
            }
            #Login, #Register{
                opacity:1 ;
                width: 50%;
                background-color:orange;
                color:white;
                padding: 14px 20px;
                margin-top:5px;
                margin: 8px 0;
                border:none;
                border-radius:4px;
                cursor:pointer;
            }
            button{
                width: auto;
                background-color:orange;
                color:white;
                padding: 14px 20px;
               
                margin: 8px 0;
                border:none;
                border-radius:4px;
                cursor: pointer;
            }
            input[type=submit]:hover{
                background-color:darkorange;
            }
            button:hover{
                background-color:darkorange;
            }
            .btn:hover{
               background: rgba(0, 0, 0, 1);
            }
            .list{
                text-decoration:none;
                color:white;
                background: rgba( 0, 0, 0, 0.6);
                padding:10px 13px;
                border-radius:5px;
                transition: 0.3s;
            }
            .list:hover{
                opacity:1;
            }
            .break{
                margin-top:40px;
            }
            .slider{
                font-size:13px;
                padding-top:5px;
            }
            .modal{
                display:none;
                position:fixed;
                z-index:1;
                left:0;
                top:0;
                width:100%;
                height:100%;
                overflow:auto;
                background-color:rgb(0,0,0);
                background-color:rgba(0,0,0,0.4);
                padding-top:20px;
            }
            .modal-content{
                background-color:rgba(0,0,0,0.8);
                margin: 9% auto 5% auto;
                border:none;
                width:40%;
                height:60%;
                border-radius: 20px;
            }
            .close{
                position: absolute;
                right:33px;
                top:8px;
                color: lightgray;
                font-size:40px;
                font-weight:bold;
            }
            .close:hover,
            .close:focus{
                color:white;
                cursor:pointer;
            }
            .clearfix::after{
                content:"";
                clear:both;
                display:table;
            }
            .container{
                padding:16px;
                text-align: center;
            }
            .container label{
                float:left;
                font-size:16px;
                padding-left:30px;
                padding-right:100px;
            }
            .sidenav{
                height:auto;
                width:0;
                position:fixed;
                z-index:1;
                top:0;
                right:0;
                background:rgba(0,0,0,0.7);
                overflow-x:hidden;
                transition: 0.5s;
                padding-top:40px;
                padding-bottom:20px;
                border-bottom-left-radius: 10px;
            }
            .sidenav a{
                padding: 8px 8px 8px 32px;
                text-decoration:none;
                font-size:25px;
                color:lightgray;
                display: block;
                transition:0.3s;
                opacity:1;
            }
            .sidenav a:hover{
                color:white;
            }
            .sidenav .closebtn{
                position:absolute;
                top:0;
                right:25px;
                font-size:36px;
                margin-left:50px;
            }
            
            .switch{
                margin-left:50px;
                position: relative;
                display:inline-block;
                width:60px;
                height:25px;
            }
            
            .switch input{
                display:none;
            }
            
            .slider{
                position:absolute;
                cursor:pointer;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-color:darkgray;
                transition:0.4s;
                border-radius: 10px;
            }
            
            .silder:before{
                position: absolute;
                content:"";
                height:10px;
                width:26px;
                left:4px;
                bottom:4px;
                background-color:white;
                transition: 0.4s;
            }
            
           .switch input:checked + .slider{
                background-color: orange;
            }
            
           .switch input:focus + .slider{
                box-shadow: 00 1px #2196F3;
            }
            
           .switch input:checked + .slider:before{
            transform:translateX(26px);
            }
            .menuspan{
            transition:0.5s;
            background:rgba(0,0,0,0.7);
            padding-left:14px;
            padding-right:14px;
            padding-top:8px;
            padding-bottom:10px;
            border-radius:10px;
            position:absolute;
            right:170px;
            top:170px;
            font-size:30px;
            cursor:pointer
            }
            .sidenav-link{
            font-size:40px;
            font-weight:bold;
            }
            .login-div{
            text-align:center;
            position:absolute;
            right:80px;
            background:rgba(0, 0, 0, 0.7);
            top:240px;
            height:350px;
            width:300px;
            border-radius:10px;
            }
            .login-heading{
            margin-bottom:5px;
            margin-top:15px;
            }
            .username-label{
            float:left;
            padding-left:30px;
            font-size:16px;
            }
            .password-label{
            float:left;
            padding-left:30px;
            font-size:16px;
            }
            .wronguser{
            width:120px;
            background:rgba(255,0,0,0.6);
            color:white;
            text-align:center;
            padding:5px 0;
            border-radius:6px;
            font-size:15px;
            position:absolute;
            z-index:1;
            top:80px;
            right:105%;
            }
            .neu-hier{
            margin-top:-17px;
            }
            .register-heading{
                margin-bottom:25px;
                margin-top:25px;
            }
            .created{
                z-index:1;
                top:80px;
                right:105%;
                padding:5px 0;
                border-radius:6px;
                font-size:15px;
                position:absolute;
                width:120px;
                background:rgba(0,0,0,0.6);
                color:white;
                text-align:center;
            }
            .in-use{
                z-index:1;
                top:80px;
                right:105%;
                padding:5px 0;
                border-radius:6px;
                font-size:15px;
                position:absolute;
                width:120px;
                background:rgba(255,0,0,0.6);
                color:white;
                text-align:center;
            }
