.content-table{
    background:rgba(0, 0, 0, 0.7);
    border-radius:10px;
    color:white;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
}

.bgimg{
    background-image: url("../images/bomberman2.jpg");
    height:100%;
    
    background-size:cover;
    position:relative;
    color:white;
    font-family:sans-serif;
    font-size: 20px;
}
#score{
    position: absolute;
    top:  150px;
    left: 75px;
}
#description{
    position: absolute;
    top:  275px;
    left: 75px;
    width: 350px;
}
#scoreBoard{
    position: absolute;
    top:  225px;
    right:100px;
}
h3{
    margin-bottom: 10px;
}
thead{
    font-size:22px;
}
#welcome{
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
}
button{
    width: auto;
    background-color:orange;
    color:white;
    padding: 14px 20px;
    font-size: 20px;
    margin: 8px 0;
    border:none;
    border-radius:4px;
    cursor: pointer;
}

button.btn{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

textarea{
    font-size: 16px;
}

span#name{
    color: red;
}

span#success:hover{
    cursor: default;
    top:500px;
    left:43%;
}
button:hover{
    background-color:darkorange;
}

button#sign-off{
    position: fixed;
    bottom: 50px;
    right: 100px;
}