/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.10.2017, 07:48:31
    Author     : yl795688
*/

            li.menu a.klappe:hover li.menu{
               
                    background-color:lightgrey;
                    box-shadow: none;
                    border-radius:20px;
                
            }
                .heading{
                    background-color:white;
                    border-style:none;
                    height:auto;
                    width:50%;
                    position:relative;
                    right:-25%;
                    border-radius: 10px;
                    box-shadow: 2px 4px 5px 0px lightcoral;
                }
                 .me{
                transition:0.3s;
                background-color:darkgreen;
                border-radius:10px;
                opacity:0.7;
            }
            .me:hover{
                opacity: 1;
            }
                h1.header{
                    text-align:center;
                    color: crimson;
                }
                ul.menu{
                  list-style-type: none;
                  padding:5px;
                  overflow:hidden; 
                  border-radius:0 0 10px 10px;
                }
                li.menu{
                    float: left;
                }
                li.menu a.klappe:not(.active){
                    display:block;
                    text-align:center;
                    padding:16px;
                    color:darkred; 
                    text-decoration:none;   
                    background-color:bisque;
                    border-radius:20px;
                }
                #test{
                    display:inline-block;
                }
                li.menu a.a2{
                    
                    color:darkred;
                    text-decoration:none;
                  
                }
                
                li.menu a:hover:not(.active){
                   
                    box-shadow: 0px 4px 2px 0px grey ;
                    border-radius:20px;
                }
                .content{
                    display:none; 
                }      
                #test:hover div{
                    display:block;
                }
                .active{
                    background-color: lightskyblue ;
                    display:block;
                    text-align:center;
                    padding:16px;
                    color:darkred; 
                    text-decoration:none; 
                    border-radius:20px;
                    border-top-style: solid;
                    border-left-style: solid;
                    border-left-color: crimson;
                    border-top-color: crimson ;
                }
                .inhalt{
                    float:left;
                    width:60%;
                    height:auto;
                    margin-top:2%;
                    margin-left:20%;
                    margin-right:20%;
                    margin-bottom:2%;
                    border:none;
                    background-color: moccasin;
                    border-radius:10px;
                    padding: 2%;
                }
                a.schrift{
                    text-decoration:none;
                    color: forestgreen;
                }
                a.schrift:hover{
                    text-decoration:none;
                    color:mediumseagreen;
                }
                div.sidebar a{
                    text-decoration:none;
                    color: white;
                    background:none;
                }
                div.sidebar a:hover{
                    text-decoration:none;
                    color: crimson;
                    text-shadow: 1px 1px black ;
                    
                }
               .sidebar{
                  float:left;
                  border-style:none;
                  height:100%;
                  width: 120px;
                  position: fixed;
                  top:0px;
                  left:0%;
                  margin-right:2%;
                  box-shadow: 2px 4px 5px 0px black;
                }
                div.sidebar ul{
                  list-style-type: none;
                  padding:5px;
                }
                .leer{
                background-color:rgba(219, 0, 93, 0.3);
            }
            .l{
                background-color:rgba(158, 230, 136,0.5);
            }
            .leerl{
                background-color:rgba(158, 230, 136,0.3);
            }
            .f{
                background-color:rgba(219, 0, 93, 0.4);
            }
            th.a, td{
                border: 1px solid darkgrey;
                border-collapse: collapse;
            }
            .table{
                background-color:white;
                margin-bottom:50px;
                margin-top:30px;
                border:1px solid white;
                box-shadow: 2px 4px 5px 0px darkblue;
                border-collapse:collapse;
            }
            th.b{
                border-left: 2px solid black;
                border-top: 1px solid darkgrey;
                border-right: 1px solid darkgrey;
                border-bottom: 1px solid darkgrey;
                border-collapse:collapse;
            }
            th.a, th.b{
                padding-top:15px;
                padding-bottom:15px;
                padding-right:30px;
                padding-left:30px;
            }
            td sub{
                font-weight:normal;
                font-style:italic;
                padding-top:2px;
                padding-bottom:2px;
            }
            td{
                font-weight: bold;
                padding-top:2px;
                padding-bottom:2px;
                height:30px;
                
            }
            td:hover:not(.not){
                font-size:16px;
            }
            td:hover:not(.not) sub{
                font-size:10px;
            }
            .contact{
                background-color:rgb(170,255,255);
                position:fixed;
                z-index:1;
                left:-160px;
                height:75px;
                width:250px;
                bottom:10%;
                border-radius: 0 5px 5px 0;
                transition:0.3s;
            }
            .contact:hover{
                left:0;
            }
            .welcome{
                position:absolute;
                left:75px;
                bottom:30px;
                background-color:white;
                padding-left:5px;
                padding-right:5px;
                border-radius:5px;
                opacity:0.6;
                transition:0.3s;
            }
            .welcome:hover{
                opacity: 0.9;
            }
           
            .saying{
                padding-left: 5px;
                padding-right: 5px;
                border-radius:10px;
                background-color:white;
                opacity: 0.7;
                transition:0.3s;
                position:absolute;
                right:10px;
                bottom:5px;
                width:300px;
            }
            .saying:hover{
                opacity:0.9;
            }
            .body{
                background:linear-gradient(135deg, rgb(125, 125, 255), lightblue);
                font-family:sans-serif;
            }
            .contactdiv{
                padding-top:auto;
                padding-bottom:auto;
            }
            .contactp{
                height:auto;
                width:auto;
                margin-top:12%;
                margin-bottom:auto;
                margin-right:20px;
                float:right;
            }
            .contact-mail-p{
                padding-left:5px;
                width:110px;
                float:left;
                font-size:13px;
            }