<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Dein Profil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <script src="../../scripts/utility/jquery-3.3.1.min.js"></script>
        <script src="../../scripts/utility/handlebars-v4.0.11.js"></script>
        <script type="text/javascript" src="../scripts/main.js"></script>
    </head>
    <body class="bgimg">
        
        <div class="profile">

            <div id='content-placeholder' class="bestlist">

                <script id="content" type="text/x-handlebars-template">
                    <h2 id="welcome">Willkommen <span id='name'>{{self.name}}</span></h2>
                        
                    <div id="score">
                        <h3>Deine Punktzahl:</h3>
                        <table class="content-table">    
                            <tr>
                            <td>{{self.points}}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="description">
                        <h3>Deine Beschreibung:</h3>
                        <table class="content-table">
                            <tr>
                                <td><textarea id='desc' rows='5' cols='50' spellcheck='false'>{{self.description}}</textarea></td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="submit-description">
                                        Beschreibung speichern
                                    </button>
                                    <span id='success'></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="scoreBoard">
                        <h3>Die Top {{top_size}} Spieler</h3>
                        <table class="content-table">
                            <thead id="tableHead">
                                <th>Username</th>
                                <th>Punkte</th>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{points}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                
                <button class="btn" onclick="startGame()">Spiel starten</button>
                
                <button id='sign-off'>Abmelden</button>
                </script>

            </div>
                      
        </div>
        
    </body>
</html>
