<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <script id="adress-template" type="text/x-handlebars-template">
            <p>Ich wohne in {{{city}}}. Meine Adresse ist hierbei {{{street}}} {{{number}}}.</p>
        </script>

        <div id="content-placeholder">
            <p>Die Engine funtioniert nicht, falls diese Nachricht zu sehen ist</p>
        </div>

        <script id="adress" type="text/x-handlebars-template">
        <ul>
            {{#each items}}
            <li>{{agree_button}}</li>
            {{/each}}
        </ul>
        </script>
        
        <div id="second-place">
            
        </div>

        <script src="../../scripts/utility/jquery-3.3.1.min.js"></script>
        <script src="../../scripts/utility/handlebars-v4.0.11.js"></script>
        <script type="text/javascript" src="../scripts/template-use.js"></script>


        <!--So wird die Enginge verwendet, falls das nicht klappt innerhalb einer
            anderne Datei
            Fuer ausgelagert schaue user/scripts/template-use.js-->
        <!-- <script type="text/javascript">
             var source = $('#adress-template').html();
             var template = Handlebars.compile(source);
             var data = {city: 'Hamburg',
                         number: '50169',
                         street: 'Nachtigallenweg'};
             var html = template(data);
             $('#content-placeholder').html(html);
         </script> -->


    </body>
</html>
