.bgimg{
    background-image: url("../user/images/bomberman2.jpg");
    height:100%;
    
    background-size:cover;
    position:relative;
    color:white;
    font-family:sans-serif;
    font-size: 20px;
}